<!-- component -->
<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="flex flex-col ">

  <!-- Header con botón -->
  <div class="flex justify-between items-center p-2  ">
    <h2 class="text-xl font-bold text-gray-700">Lista de Residentes</h2>
   
  
    <button 
      (click)="openModal = true"
      class="flex items-center bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600"
    >
      <i class="material-icons-outlined mr-2">add</i> Agregar
    </button>


    </div>
        <app-create-profile 
        [isOpen]="openModal" 
        (close)="openModal = false"
        (usuarioCreado)="cargaResidentes()">
      </app-create-profile>

    <!-- Contenedor principal que crece -->
    <div class="flex-grow overflow-auto p-4">
      <table class="table text-gray-700 border-separate space-y-6 text-sm w-full">
        <thead class="bg-gray-200 text-gray-600">
          <tr>
            <th class="p-3">Nombre</th>
            <th class="p-3 text-left">Correo</th>
            <th class="p-3 text-left">Telefono</th>
            <th class="p-3 text-left">Estado</th>
            <th class="p-3 text-left">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white shadow-md"  *ngFor="let usuario of usuarios | paginate: { itemsPerPage: pageSize, currentPage: page }">
            <td class="p-3">
              <div class="flex items-center">
                <img class="rounded-full h-12 w-12 object-cover"
                  src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png"
                  alt="unsplash image">
                <div class="ml-3">
                  <div class="font-semibold">{{usuario.name}}</div>
                </div>
              </div>
            </td>
            <td class="p-3">{{usuario.email}}</td>
            <td class="p-3 font-bold">{{usuario.phone}}</td>
            <td class="p-3">
              <span class="bg-green-400 text-white rounded-md px-2">Activo</span>
            </td>
            <td class="p-3 flex space-x-2">
              <a href="#" class="text-gray-500 hover:text-gray-700">
                <i class="material-icons-outlined">visibility</i>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-700">
                <i class="material-icons-outlined">edit</i>
              </a>
              <a href="#" class="text-gray-500 hover:text-red-600">
                <i class="material-icons-round">delete_outline</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="mt-4 flex justify-center">
    <pagination-controls
      previousLabel=""
      nextLabel=""
      class="flex gap-2 text-blue-600 "
      (pageChange)="page = $event" >
    </pagination-controls>
  </div>

</div>

<style>
  .table {
    border-spacing: 0 12px;
  }

  .table tr {
    border-radius: 10px;
  }

  tr td:nth-child(n+5),
  tr th:nth-child(n+5) {
    border-radius: 0 .625rem .625rem 0;
  }

  tr td:nth-child(1),
  tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
  }
</style>
